<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .container {
            padding-top: 100px;
        }

        .form-inline {
            margin-bottom: 20px;
        }

        .active {
            background-color: red;
        }
    </style>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div class="container" id="app">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="exampleInputAmount"
                        placeholder="搜索名称" v-model="searchname">
                </div>
            </div>
            <button type="button" class="btn btn-primary" @click="searchGoods">搜索</button>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">商品名称</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="请输入商品名称" v-model="goodsname">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">商品价格</label>
                <input type="email" class="form-control" id="exampleInputEmail2"
                    placeholder="请输入商品价格" v-model.number="goodsprice">
            </div>
            <button type="button" class="btn btn-default" @click="addGoods">添加</button>
        </form>
        <div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(goods,index) in goodslist" v-show="goods.isshow">
                        <th scope="row">
                          <input type="checkbox" name="goods">
                        </th>
                        <td>{{goods.name}}</td>
                        <td>{{goods.price}}</td>
                        <td><button type="button" class="btn btn-primary btn-xs" @click="deleteGoods(index)">删除</button></td>
                    </tr>
                    <tr>
                        <td colspan="2">总价</td>
                        <td > 0</td>
                        <td><button type="button" class="btn btn-primary btn-xs">删除选中</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                nowId:4,
                searchname:"",
                goodsname:"",
                goodsprice:"",
                goodslist:[
                    {
                        id:1,
                        name:"衣服",
                        price:12,
                        isshow:true
                    },
                    {
                        id:2,
                        name:"裤子",
                        price:25,
                        isshow:true
                    },
                    {
                        id:3,
                        name:"鞋子",
                        price:45,
                        isshow:true
                    },
                    {
                        id:4,
                        name:"帽子",
                        price:20,
                        isshow:true
                    }
                ]
            },
            methods:{
                addGoods(){
                    let goodsobj={
                        id:++this.nowId,
                        name:this.goodsname,
                        price:this.goodsprice,
                        isshow:true
                    }
                    this.goodslist.push(goodsobj)
                },
                searchGoods(){
                    if(this.searchname!=""){
                            for(var val of this.goodslist){
                                if(val.name.includes(this.searchname)){
                                    val.isshow=true;
                                }
                                else{
                                    val.isshow=false;
                                }
                        }
                    }
                    else{
                        for(var val of this.goodslist){
                            val.isshow=true;
                        }
                    }
                },
                deleteGoods(index){
                    this.goodslist.splice(index,1);
                }
            }
        })
    </script>
</body>

</html>